appdirs==1.4.4
argcomplete==3.4.0
attrs==23.2.0
Babel==2.10.3
beautifulsoup4==4.12.3
Bottleneck==1.3.8
Brotli==1.1.0
chardet==5.2.0
click==8.1.6
colorama==0.4.4
contourpy==1.0.7
cssselect==1.1.0
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.1
dnspython==2.1.0
et-xmlfile==1.0.1
filelock==3.12.4
fonttools==4.46.0
fs==2.4.16
ghp-import==2.1.0
html5lib==1.1
iniconfig==1.1.1
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
livereload==2.6.3
llvmlite==0.43.0
lunr==0.7.0
lxml==5.2.1
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.6.3
mergedeep==1.3.4
nltk==3.8.1
numba==0.59.1
numexpr==2.10.1
numpy==1.26.4
odfpy==1.4.1
onboard==1.4.1
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
pathspec==0.11.1
pillow==10.3.0
pipx==1.2.1
platformdirs==4.2.1
pluggy==1.5.0
psutil==5.9.8
py-cpuinfo==9.0.0
pycairo==1.26.0
pycurl==7.45.3
Pygments==2.17.2
PyGObject==3.48.2
pyinotify==0.9.6
pyparsing==3.1.1
pysmbc==1.0.25.1
pytest==8.1.1
python-apt==2.8.0
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2022.10.31
SciPy==1.11.4
simplejson==3.19.2
six==1.16.0
soupsieve==2.3
sympy==1.12
tables==3.9.2
tornado==6.4
tqdm==4.66.5
ufoLib2==0.16.0
unicodedata2==15.1.0
userpath==1.9.1
virtualenv==20.25.1
watchdog==3.0.0
webencodings==0.5.1
